form {
  label {
    font-size: 14px;
    margin-bottom: 10px;
    display: block;
  }
}
.edit-profile__password {
  margin-top: 80px;
  text-align: center;
  a {
    text-decoration: underline;
  }
}
